<h1>Your movies</h1>
<table>
  <tr>
    <th>Movie Title</th>
    <th>Release year</th>
    <th>Movie duration</th>
  </tr>
  <% viewData.movies.forEach((movie) => { %>
    <tr>
      <td><%= movie.title %></td>
      <td><%= movie.year %></td>
      <td><%= movie.durationInMinutes %> minutes</td>
    </tr>
  <% }) %>
</table>
<h2>Add new movie</h2>
<form action="./movies" method="POST">
  <label>
    Title
    <input type="text" name="title" />
  </label>
  <label>
    Year
    <input type="number" name="year" />
  </label>
  <label>
    Duration (minutes)
    <input type="number" name="durationInMinutes" />
  </label>
  <input type="submit" value="Add movie" />
</form>