<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <base href="<%= baseURL %>">
  <link rel="stylesheet" href="./css/style.css">
  <title>Express server side test</title>
</head>
<body>
  <nav>
    <ul>
      <li><a href="./">Start</a></li>
      <li><a href="./movies">Movies</a></li>
      <li><a href="./tvshows">TV Shows</a></li>
    </ul>
  </nav>
  <main>
    <%- body %>
  </main>
  <footer>
    Created by <a href="https://github.com/wilnersson" target="_blank">wilnersson</a>.
  </footer>
</body>
</html>