@charset "utf-8";

* {
  box-sizing: border-box;
}

html {
  font-size: 14px;
}

body, nav, main, footer {
  margin: 0;
  padding: 0;
  font-family: 'Courier New', Courier, monospace;
}

body {
  display: grid;
  grid-template-areas: "navigation"
                       "main"
                       "footer";
  grid-template-rows: min-content 1fr min-content;
  grid-template-columns: auto;

  box-sizing: content-box;
  width: 100vw;
  height: 100vh;
}

nav {
  grid-area: navigation;
  background-color: lightgray;
}

nav ul li {
  list-style-type: none;
  display: inline-block;
}

main {
  grid-area: main;
  margin: 0.5rem;
}

footer {
  grid-area: footer;
  padding: 0.5rem;
  background-color: lightgray;
}